
#subheading{
	font-family: "Roboto", sans-serif;
	font-weight: bold;
}

@font-face {
	font-family: "CustomSatisfy";
	src: url("fonts/Satisfy-Regular/Satisfy-Regular.ttf");
}

h2{
	font-family: "CustomSatisfy", Satisfy, Serif;
}


#map {
	height: 600px;
	width: 100%;
}

#foo1{
	z-index: 10;
}

.homesubhd{
	color: black;
	padding-top: 5px;
	padding-left: 5px;
}

.homeimg{
	padding-left: 5px;
}

.homecontent{
	height:100%;
	width:100%;
	background-color:#e6e6e6;
	margin-bottom: 15px;
	padding: 10px;
}

#favouter{
	height:200px;
	width:100%;
	background-color:#FFFFFF;
	margin-bottom: 15px;
}

#favinner {
	height: 180px;
	width: 180px;
	background-color: #aaaaaa;
	margin-top: 10px;
	margin-left: 10px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}